:root {
    --azulTransparente: #072c5054;
    --azulScuro: #072C50; 
    --dorado: rgb(184,135,70);
    --grisaseo: #5c5c5fed;
    --verde-claro: #73df5bbb;
    --blancoZulado: #e6edf3de;
    --blancoScuro: #bec4cade;
    --blancoTransparente: #e6edf365;
}