/*ESTILOS GENERALES PARA TODAS LAS PAGINAS Y PARTE DEL INDEX*/
:root {
    --azulScuro: #072C50; 
    --dorado: rgb(184,135,70);
    --grisaseo: #5c5c5fed;
    --verde-claro: #73df5bbb;
    --blancoZulado: #e6edf3de;
    --blancoScuro: #bec4cade;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/fondoTEC.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.navbar-toggler {
    background-color: white; 
    border: none;
}
.navbar {
    background-color: #072c5054; 
    padding: 15px;
}
nav #logo {
    color: var(--dorado); 
    font-weight: bold; 
    border-radius: 5px;
    background-color: #e6edf3;
    padding: 5px;
    box-shadow: 2px 2px 4px 2px var(--blancoZulado);
    font-family: 'Seymour One', sans-serif;
    font-size: 50px;
    margin-right: 100px;
    transform: perspective(100px) rotateY(20deg);
}
nav #logo:hover {
    transform: perspective(100px) rotateY(10deg);
    box-shadow: 2px 2px 4px 2px var(--dorado);
    background-color: var(--blancoZulado);
}
nav ul {
    display: flex;
    gap: 30px;
}
nav ul li a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--blancoZulado);
    font-weight: bold;
    letter-spacing: 3px;
}
nav ul li a.active {
    border-radius: 15px;
    background-color: #072c5054;
    box-shadow: 2px 2px 4px 2px var(--blancoZulado);
    color: white;
}
nav ul li a:hover {
    border-radius: 15px;
    background-color: #072c5054;
    box-shadow: 2px 2px 4px 2px var(--dorado);
    color: white;
}

/*Iconos redes sociales*/
#iconWhatsapp,
#iconLinkedin,
#iconGithub {
    border-radius: 10px;
    transform: scale(0.5);
    transition: transform 0.9s, border-radius 0.9s; 
}
#iconWhatsapp:hover,
#iconLinkedin:hover,
#iconGithub:hover  {
    border-radius: 20px;
    transform: scale(0.6);
    box-shadow: 2px 2px 4px 2px var(--dorado);
}

/*main*/
h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 48px;
    filter: drop-shadow(5px 2px 1px var(--azulScuro));
}
main {
    background-color: #e6edf334; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    border-style: outset;
    border-color: var(--dorado);
    filter: drop-shadow(5px 2px 1px var(--azulScuro));
}
main img {
    filter: drop-shadow(5px 2px 1px var(--azulScuro));
}

h2 {
    color: aliceblue;
    text-align: center;
    font-size: 28px;
    filter: drop-shadow(5px 2px 1px var(--azulScuro));
}
video{
    max-width: 100%;
    filter: drop-shadow(5px 2px 1px var(--azulScuro));
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
